.botao {
    color: var(--cor-branco);
    font-family: var(--fonte-sans);
    font-size: 10px;
    font-weight: 700;
    background-color: var(--cor-verde-background);
    padding: 0.5em;
    border-radius: 20px;
}